Repository letanure/pp: changes, and which lefthook commands are due for each by the changed paths.
All: check, markdown-link-check

lefthook.yml:

commit-msg:
  parallel: true
  commands:
    lint-commit:
      run: npx --no -- commitlint --edit $1
    spell-check:
      run: npx cspell --no-summary {1}
    lint-md:
      run: npx markdownlint '**/*.md' --ignore node_modules --fix --disable MD013
    
pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    markdown-link-check:
      glob: '*.md'
      run: npx markdown-link-check {staged_files}


pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}

chore: add more info on package.json
  package.json
Due: check

chore: add MIT license
  LICENSE
Due: none

feat: add changeset for releases
  .changeset/README.md
  .changeset/config.json
  .changeset/witty-poems-play.md
  README.md
  package.json
  pnpm-lock.yaml
Due: check, markdown-link-check

chore: test changeset
  .changeset/witty-poems-play.md
  CHANGELOG.md
  package.json
Due: check, markdown-link-check

feat: add ci github action
  .github/workflows/ci.yml
  package.json
Due: check

chore: lint fix
  src/main.ts
Due: check

fix: use npm on ci
  package.json
Due: check

chore: update tsconfig
  tsconfig.json
Due: check

feat: add tests with vitest
  .nvmrc
  README.md
  cspell.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/main.ts
  src/utils.test.ts
  src/utils.ts
Due: check, markdown-link-check

fix: use npm run
  package.json
Due: check

chore: ignore dist folder on lint
  biome.jsonc
Due: check

chore: update package json version
  package.json
Due: check

chore: test changeset release
  .changeset/lucky-camels-prove.md
Due: markdown-link-check
